extends layout.pug

block content
  .container.mx-auto.p-8.bg-white.rounded-lg.shadow-md.mt-6(aria-label='My Account page')
    h1.text-3xl.font-bold.text-custom-red.mb-4 My Account
    p.text-gray-600 This is your account page. (Placeholder)