extends layout.pug

block content
  .container.mx-auto.p-6
    h1.text-2xl.font-bold.text-red-600.mb-6 Seller Dashboard
    p.text-gray-700.mb-4 Welcome to your dashboard! Manage your products and orders here.